
/* all h2 headers get this formatting */
h2 {
      color: green;
      text_align: center;
      border: 3px solid blue;
    }

/* all paragraphs get this formatting */
p {
    color: darkblue;
    text_align: left;
    background-color: teal;
    width: 100px;
    height: 150px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 2px dotted red;
}

/* all tables get this formatting */
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

/* all table headers and table data get this formatting */
th, td {
  border: 1px solid black;
  background-color: lightgray;
  padding: 5px;
  text_align: center;
}

/* # is an id reference*/

#top {
      font-size: 36px;
}

#middle {
      font-size: 25px;
}
#bottom {
      font-size: 15px;
}

.name {
      font-weight: bold;
}

/* list and ordered lists */
ol li {
      color: lightgreen;
      text_align: center;
      border: 1px dotted darkblue;
    }

/* child lists are only formatted with > */
ol > li {
      color: lightgreen;
      text_align: center;
      border: 1px dotted darkblue;
    }

/* only inpuyt type = text objects are formatted*/
input[type=text] {
      background-color: purple;
}
